/* Variáveis do tema */
:root {
    --cor-fundo: #11111b;
    --cor-container: #030303;
    --cor-primaria: #04a5e5;
    --cor-primaria-escura: #0c0f1a;
    --cor-texto: #ffffff;
    --cor-borda: #89b4fa;
    --cor-excluir: #d20f39;

    --cor-nota: #f9e2af;
    --borda-nota: #df8e1d;
    --texto-nota: #181825;

    --fonte: Arial, Helvetica, sans-serif;
}